<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nelatmani.paperless</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1992F94E-934C-4B23-AC4B-378393061B20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E1EC31C-1751-4943-B4A9-4F398B8F0EB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39EEBE92-5884-4BE7-B704-5230FE685721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>579806D3-FD50-4FA4-8CD6-A52463ADFF56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>579806D3-FD50-4FA4-8CD6-A52463ADFF56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FC72DE3-27AB-4119-8C3A-1261CC961112</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E1EC31C-1751-4943-B4A9-4F398B8F0EB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>253E6419-D230-4001-A140-DAF711844AEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C64FC344-C46B-4249-B3C4-DC72C3424FFA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A4B984A-0676-4C54-98FD-E0A3054C5AAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FC72DE3-27AB-4119-8C3A-1261CC961112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77ECA993-E1A6-4EB1-A279-59A0D20C5E91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6255FAD-83C8-414D-A09E-85D7FBD4C765</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA35549E-312F-4BF8-BA52-B068E9183D53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA35549E-312F-4BF8-BA52-B068E9183D53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1992F94E-934C-4B23-AC4B-378393061B20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB72CD88-F39E-43AD-936B-333E992D3A7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6255FAD-83C8-414D-A09E-85D7FBD4C765</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nahim EL ATMANI</string>
	<key>description</key>
	<string>Paperless integration: search, view, download files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paperless</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Invalid credentials</string>
				<key>title</key>
				<string>❌ Paperless: Unable to save API Token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>253E6419-D230-4001-A140-DAF711844AEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pplc</string>
				<key>subtext</key>
				<string>This is required to generate a token, the plug-in does not store your password</string>
				<key>text</key>
				<string>Connect to the Paperless instance</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB72CD88-F39E-43AD-936B-333E992D3A7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 paperless.py --connect {query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>paperless.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1992F94E-934C-4B23-AC4B-378393061B20</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>PaperlessStatus.ERROR_CREDENTIAL_*</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>C64FC344-C46B-4249-B3C4-DC72C3424FFA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6E1EC31C-1751-4943-B4A9-4F398B8F0EB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>🔐 API Token securely saved in the keychain</string>
				<key>title</key>
				<string>API key saved ✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9A4B984A-0676-4C54-98FD-E0A3054C5AAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>A6255FAD-83C8-414D-A09E-85D7FBD4C765</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--connect {var:id1} {var:id2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EA35549E-312F-4BF8-BA52-B068E9183D53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>ppl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying paperless...</string>
				<key>script</key>
				<string># python3 paperless.py $query
bash test.sh $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>paperless.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search, view, download documents from Paperless</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>39EEBE92-5884-4BE7-B704-5230FE685721</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 paperless.py --connect {query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>paperless.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77ECA993-E1A6-4EB1-A279-59A0D20C5E91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>id</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>579806D3-FD50-4FA4-8CD6-A52463ADFF56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--open {var:id1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7FC72DE3-27AB-4119-8C3A-1261CC961112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1992F94E-934C-4B23-AC4B-378393061B20</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>253E6419-D230-4001-A140-DAF711844AEF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>39EEBE92-5884-4BE7-B704-5230FE685721</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>579806D3-FD50-4FA4-8CD6-A52463ADFF56</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6E1EC31C-1751-4943-B4A9-4F398B8F0EB9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>77ECA993-E1A6-4EB1-A279-59A0D20C5E91</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>7FC72DE3-27AB-4119-8C3A-1261CC961112</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>9A4B984A-0676-4C54-98FD-E0A3054C5AAC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>A6255FAD-83C8-414D-A09E-85D7FBD4C765</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>EA35549E-312F-4BF8-BA52-B068E9183D53</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>EB72CD88-F39E-43AD-936B-333E992D3A7B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Add a secure token into MacOS keychain to access the Paperless instance APIs</string>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PAPERLESS_INSTANCE</key>
		<string>http://your-instance:8000/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PAPERLESS_INSTANCE</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
